{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Add Finance Record{% endblock %}

{% block content %}
	<div class="d-flex justify-content-between mb-3">
		<a class="btn btn-outline-secondary" href="{% url "members:signup_hub" %}"><i class="bi-arrow-left"></i> Back to Signup Hub</a>
		<span>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</span>
	</div>
	<form action="" method="POST">
		{% csrf_token %}
		{{ wizard.management_form }}
		{% if wizard.form.forms %}
			{% for form in wizard.form.forms %}
				{% crispy form %}
			{% endfor %}
		{% else %}
			{% crispy wizard.form %}
		{% endif %}
		<div class="d-flex flex-row justify-content-end">
			<div class="p-2">
				<button type="submit"
						class="btn btn-success">
					Submit <i class="bi-check2"></i>
				</button>
			</div>
		</div>
	</form>
	<script src="{% static "js/prevent_unload.js" %}"></script>
{% endblock %}

{% block post_js_form_media %}
	{% if not wizard.form.helper.include_media %}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
		<!-- JQuery -->
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
		{{ wizard.form.media }}
	{% endif %}
{% endblock %}