{% extends '_base.html' %}

{% block title %}Profile for {{ member.short_name }}{% endblock %}

{% block content %}
	<div class="container" style="max-width: 576px;">
		<h3>Welcome {{ member.short_name }}!</h3>
		<div class="row row-cols-1">
			<div class="col mb-3">
				<div class="card h-100">
					<div class="card-body">
						<h4 class="card-title">Library Items</h4>
						<p class="card-text">You have 0 items borrowed currently.</p>
					</div>
				</div>
			</div>
			<div class="col mb-3">
				<div class="card h-100">
					<div class="card-body">
						<h4 class="card-title">Memberships</h4>
						<p class="card-text">
							{% if member.has_active_membership %}
								You are a current financial member.
							{% else %}
								You are not a current financial member.
							{% endif %}
						</p>
						{% if member.is_life_member %}
							<p>You are an honorary life member.</p>
						{% endif %}
					</div>
					{% if member.memberships.exists %}
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Date paid</th>
								<th scope="col">Guild?</th>
								<th scope="col">Amount Paid</th>
							</tr>
						</thead>
						<tbody>
							{% for membership in member.memberships.all|slice:":2" %}
								{% if membership.expired %}
									<tr class="table-danger">
								{% else %}
									<tr class="table-success">
								{% endif %}
										<td>{{ membership.date_purchased }}</td>
										<td>{{ membership.guild_member|yesno:"Yes,No" }}</td>
										<td>${{ membership.amount_paid }}</td>
									</tr>
							{% endfor %}
							{% if member.memberships.count > 2 %}
								<tr>
									<td colspan="3" class="text-center">
										{% with remaining=member.memberships.count|add:"-2" %}
											{{ remaining }} previous membership{{ remaining|pluralize }} not shown
										{% endwith %}
									</td>
								</tr>
							{% endif %}
						</tbody>
					</table>
					{% endif %}
				</div>
			</div>
			<div class="col mb-3">
				<div class="card h-100">
					<div class="card-body">
						<h4 class="card-title">Discord</h4>
						<p class="card-text">You haven't linked a Discord account.</p>
						<p class="card-text"><strong>Coming soon!</strong></p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
{% endblock %}