{% extends '_base.html' %}

{% block title %}Profile for {{ member.short_name }}{% endblock %}

{% load account %}
{% load socialaccount %}

{% block content %}
	<div class="container" style="max-width: 576px;">
		<h3>Welcome {{ member.short_name }}!</h3>
		<div class="row row-cols-1">
			<div class="col mb-3">
				<div class="card h-100">
					{% with active_records=member.get_active_borrow_records %}
						<div class="card-body">
							<h4 class="card-title">Library Items</h4>
							<p class="card-text">You have {{ active_records.count }} item{{ active_records.count|pluralize }} borrowed currently.</p>
							{% if not active_records.exists %}
								<a href="{% url "library:reservation_internal" %}" class="btn btn-secondary">Reserve Items <i class="bi-arrow-right"></i></a>
							{% endif %}
						</div>
						{% if active_records.exists %}
							<table class="table mb-0">
								<thead>
									<tr>
										<th scope="col">Item Name</th>
										<th scope="col">Due Date</th>
									</tr>
								</thead>
								<tbody>
									{% for record in active_records %}
										{% if record.is_overdue %}
											<tr class="table-warning">
										{% else %}
											<tr>
										{% endif %}
											<td>{{ record.item }}</td>
											<td>{{ record.due_date }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
							<div class="card-body">
								<a href="{% url "library:reservation_internal" %}" class="btn btn-secondary">Reserve Items <i class="bi-arrow-right"></i></a>
							</div>
						{% endif %}
					{% endwith %}
				</div>
			</div>
			<div class="col mb-3">
				<div class="card h-100">
					<div class="card-body">
						<h4 class="card-title">Memberships</h4>
						<p class="card-text">
							{% if member.has_active_membership %}
								You are a current financial member.
							{% else %}
								You are not a current financial member.
							{% endif %}
						</p>
						{% if member.is_life_member %}
							<p>You are an honorary life member.</p>
						{% endif %}
					</div>
					{% if member.memberships.exists %}
					<table class="table mb-0">
						<thead>
							<tr>
								<th scope="col">Date paid</th>
								<th scope="col">Guild?</th>
								<th scope="col">Amount Paid</th>
							</tr>
						</thead>
						<tbody>
							{% for membership in member.memberships.all|slice:":2" %}
								{% if membership.expired %}
									<tr class="table-danger">
								{% else %}
									<tr class="table-success">
								{% endif %}
										<td>{{ membership.date_purchased }}</td>
										<td>{{ membership.guild_member|yesno:"Yes,No" }}</td>
										<td>${{ membership.amount_paid }}</td>
									</tr>
							{% endfor %}
						</tbody>
					</table>
					{% endif %}
					<div class="card-body p-2 text-center">
						{% if member.memberships.count > 2 %}
							{% with remaining=member.memberships.count|add:"-2" %}
								<p class="card-text">{{ remaining }} previous membership{{ remaining|pluralize }} not shown</p>
							{% endwith %}
						{% else %}
							<p class="card-text">All memberships shown</p>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="col mb-3">
				<div class="card h-100">
					<div class="card-body">
						<h4 class="card-title">Linked Accounts</h4>
						{% get_social_accounts user as accounts %}
						{% for provider in accounts %}
							<h5 class="card-title"><i class="bi-{{ provider }}"></i> {{ provider|title }}</h5>
							<p class="card-text"><i class="text-success bi-check-circle-fill"></i> You have linked your {{ provider|title }} account.</p>
						{% empty %}
							<p class="card-text">You have not linked any accounts.</p>
						{% endfor %}
						<a class="btn btn-secondary" href="{% url "socialaccount_connections" %}">Manage your linked accounts <i class="bi-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col mb-3">
				<div class="card h-100">
					<div class="card-body">
						<h4 class="card-title">Email</h4>
						<a class="btn btn-secondary mb-1" href="{% url "account_email" %}">Change your email address <i class="bi-arrow-right"></i></a>
						<br>
						<a class="btn btn-secondary" href="{% url "members:my_email_prefs" %}">Manage your email preferences <i class="bi-arrow-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}