{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block title %}Linked Accounts{% endblock %}

{% block content %}
	<a class="btn btn-secondary" href="{% url "members:my_profile" %}"><i class="bi-arrow-left"></i> Back to Profile</a>
	<hr>
	<h2>Linked Accounts</h2>
	{% if form.accounts %}
		<p>The following accounts are currently linked to your Unigames account:</p>
		<form action="" method="POST">
			{% crispy form %}
			<button type="submit" class="btn btn-danger">
				<i class="bi-trash3"></i> Disconnect Selected Account
			</button>
		</form>
	{% else %}
		<p>You currently have no linked accounts.</p>
	{% endif %}
	<hr>
	<h2>Link a new account</h2>
	<p>Linking accounts is currently only supported for Discord, which provides additional functionality when interacting with our Discord bot.</p>
	{% get_providers as socialaccount_providers %}
	{% for provider in socialaccount_providers %}
		<a href="{% provider_login_url provider process="connect" %}" class="btn btn-secondary btn-{{ provider|lower }}"><i class="bi-{{ provider|lower }}"></i> Link a {{ provider.name }} account</a>
	{% endfor %}
{% endblock %}