{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block content %}
	<h1>Linked Accounts</h1>
	{% if form.accounts %}
		<form action="" method="POST">
			{% crispy form %}
			<button type="submit" class="btn btn-danger">
				Disconnect Selected Account <i class="bi-trash3"></i>
			</button>
		</form>
	{% else %}
		<p>You currently have no linked accounts.</p>
	{% endif %}
	<hr>
	<h4>Link a new account</h4>
	{% get_providers as socialaccount_providers %}
	{% for provider in socialaccount_providers %}
		<a href="{% provider_login_url provider process="connect" %}" class="btn btn-secondary">{{ provider.name }}</a>
	{% endfor %}
{% endblock %}