{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load allauth %}

{% block title %}Change Email{% endblock %}

{% block content %}
	<a class="btn btn-secondary" href="{% url "members:my_profile" %}"><i class="bi-arrow-left"></i> Back to Profile</a>
	<hr>
	<h2>Change Email Address</h2>
	<form method="POST" action="{% url "account_email" %}">
		{% crispy form %}
		<button class="btn btn-primary" type="submit" name="action_add">Change Email</button>
	</form>

	{% if new_emailaddress %}
		<form style="display: none"
			  id="pending-email"
			  method="POST"
			  action="{% url "account_email" %}">
			{% csrf_token %}
			<input type="hidden" name="email" value="{{ new_emailaddress.email }}">
		</form>
	{% endif %}

{% endblock %}