{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log In{% endblock %}

{% block content %}
	<h2>Log In</h2>
	<p>
		If you have a Unigames Membership, an account has been created for you. <br />
		To login for the first time, you'll need to reset your password.
	</p>
	<p>
		If you aren't a Unigames member, you will have to come to the clubroom in person to sign up.
		{% comment %}
			TODO: Add links to the Gavin videos here.
		{% endcomment %}
	</p>
	<form method="post">
		{% csrf_token %}
		{{ form|crispy }}
		<button class="btn btn-success" type="submit">Log in</button>
	</form>
{% endblock content %}