{% extends '_base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
	<h1>Unigames</h1>
	<h2>What is Unigames?</h2>
	<p>
		Unigames is UWA's traditional gaming club.
		That means that all types of non-video gaming
		(including tabletop RPGs, board games, wargames, card games, and more!)
		are covered under our umbrella.

		The club was formed in 1983, when two previous UWA clubs - the Wargaming club
		and the Simulations Society - merged to form one club.

		Since then, Unigames has only grown stronger.
		We pride ourselves on our inclusive and passionate member base,
		as well as our huge library that contains (almost) any game you could want to play!
	</p>

	<h2>What can I do at Unigames?</h2>
	<p>
		Play games!
	</p>
	<p>
		There are many roleplaying campaigns in action at the moment, held either weekly or fortnightly.
		Popular roleplaying systems at the moment include D&D (5th, 4th and Pathfinder are most common), Dark Heresy
		(and family), nWoD, and Ad Eva 3.5 (giant robots!).
		{% comment %}
			TODO: Update popular RPGs
		{% endcomment %}
	</p>
	<p>
		For the non-roleplayers, if you pick the right moment it's usually possible to tap the boundless energy of
		Unigames hordes for Dominion, Settlers of Catan, Munchkin, Dead of Winter, X-COM or any of our other dozens of
		boardgames. But if you get addicted, you may want to consider the statutory withdrawal dates for some or all of
		your units! It's a case of choosing your poison - the Unigames library has a plethora of weird and wonderful
		games in stock, some of which are used all the time, and some of which haven't been dusted off in a decade. Who
		knows what you could find?
		{% comment %}
			TODO: Update popular board games
		{% endcomment %}
	</p>
	<h2>How do I join Unigames?</h2>
	<p>
		If you wish to join Unigames, it's easy! Just head on down to the clubroom whenever it is open, 
		say <mark>"I would like to join Unigames please!"</mark>, and the Gatekeeper in the room will sign you up!
	</p>
	<p>
		The Unigames membership fee is $5 if you are a UWA Student Guild Member, or $7 otherwise. We only accept cash.
		This membership fee goes entirely towards the running of the club and buying more games for members to play.
	</p>
	<p>
		Joining Unigames can only be done in person at the Unigames clubroom. If you don't know where the clubroom is, read on!
	</p>
	<h2>Where is the Unigames clubroom?</h2>
	<p>
		For a start, Unigames is located above the UWA (35 Stirling Hwy, Crawley) Tavern. If you don't know where that
		is, just ask anyone you can find, wandering anywhere on campus. From standing in front of the Tavern, facing the
		Tavern, walk left and follow the Tavern's fence around the corner. Keep wandering around this wall of the Tavern
		until you hit an inset in the wall. The door facing away from the river is the entrance to all the higher parts
		of Cameron Hall.
	</p>
	<p>
		If that doesn't help, you can also follow
		<a href="https://www.youtube.com/watch?v=V5BTEKh21mA">this handy video</a>
		from our 2018 President Gavin.
		{% comment %}
			TODO: Update video link, and names of people in video
		{% endcomment %}
	</p>
	<p>
		Once you've found the entrance to Cameron Hall, follow the stairs up to the second floor (i.e. two stories up), walk
		past whatever club currently inhabits the first room, take the big doors and go straight ahead. Ignore the glass
		doors to your right, and keep walking. Enter the first corridor on your right, and Unigames will be the club
		directly in front of you.
	</p>
	
	<figure class="figure">
		<img src="{% static "images/CH_map_2024.png" %}" class="figure-img img-fluid rounded" alt="A map of the upper level of Cameron Hall, showing the location of Unigames">
		<figcaption class="figure-caption text-center">A map of the upper level of Cameron Hall!</figcaption>
	</figure>

	<h2>When is Unigames open?</h2>
	<p>
		Unigames entrusts certain individuals, known as Gatekeepers, with the power and responsibility to open the clubroom.
		So the answer is: whenever you can grab one of the Gatekeepers by the arm and make them unlock the clubroom, which is more
		or less whenever you want it to be! We are blessed with Gatekeepers who have made Cameron Hall, the location of
		the Unigames clubroom, their surrogate home, and it's unlikely one of them won't be around at virtually any time
		you're likely to be.
	</p>
	<p>
		Of course, if you do hang around more than they do (and run campaigns) you can apply to become a
		Gatekeeper - just ask a Committee Member or Gatekeeper for the form.
	</p>

	<h2>Does joining Unigames grant me any benefits?</h2>
	<p>
		A Unigames membership grants the following benefits:
	</p>
	<ul>
		<li>A 10% discount on almost everything at <a href="https://www.tactics.net.au/">Tactics</a>, Perth's premier gaming
		supply store.</li>
		<li>A 10% discount on almost everything at <a href="https://www.goodgames.com.au/venue/good-games-morley/">Good Games Morley</a>.</li>
		<li>Discount snacks and drinks in the clubroom.</li>
		<li>+1 to your coolness stat.</li>
	</ul>
{% endblock content %}