{% extends "_base.html" %}

{% block content %}
	<h1>Committee</h1>
	<h3>The Current Unigames Committee</h3>
	
	<dl class="row">
		<dt class="col-sm-3">President</dt>
		<dd class="col-sm-9">Test</dd>
		
		<dt class="col-sm-3">Vice President</dt>
		<dd class="col-sm-9">Test</dd>
		
		<dt class="col-sm-3">Treasurer</dt>
		<dd class="col-sm-9">Test</dd>
		
		<dt class="col-sm-3">Secretary</dt>
		<dd class="col-sm-9">Test</dd>
		
		<dt class="col-sm-3">Librarian</dt>
		<dd class="col-sm-9">Test</dd>
		
		<dt class="col-sm-3">Fresher Rep</dt>
		<dd class="col-sm-9">Test</dd>
		
		<dt class="col-sm-3">OCM</dt>
		<dd class="col-sm-9">
			Test <br />
			Test <br />
			Test <br />
			Test <br />
			
		</dd>
		
		<dt class="col-sm-3">Immediate Past President</dt>
		<dd class="col-sm-9">Test</dd>
	</dl>
	
	<p>
		To contact committee, email to <a href="mailto:uwaunigames@gmail.com">uwaunigames@gmail.com</a> (no spam please).
	</p>
{% endblock %}