{% extends "_base.html" %}

{% block title %}The Committee{% endblock %}

{% block content %}
	<h1>Committee</h1>
	<h3>The Current Unigames Committee</h3>

	<dl class="row">
		{% if committee.PRESIDENT %}
			<dt class="col-sm-3">President</dt>
			<dd class="col-sm-9">
				{% for committee_member in committee.PRESIDENT %}
					{{ committee_member.member }}<br />
				{% endfor %}
			</dd>
		{% endif %}

		{% if committee.VICEPRESIDENT %}
			<dt class="col-sm-3">Vice President</dt>
			<dd class="col-sm-9">
				{% for committee_member in committee.VICEPRESIDENT %}
					{{ committee_member.member }}<br />
				{% endfor %}
			</dd>
		{% endif %}

		{% if committee.TREASURER %}
			<dt class="col-sm-3">Treasurer</dt>
			<dd class="col-sm-9">
				{% for committee_member in committee.TREASURER %}
					{{ committee_member.member }}<br />
				{% endfor %}
			</dd>
		{% endif %}

		{% if committee.SECRETARY %}
			<dt class="col-sm-3">Secretary</dt>
			<dd class="col-sm-9">
				{% for committee_member in committee.SECRETARY %}
					{{ committee_member.member }}<br />
				{% endfor %}
			</dd>
		{% endif %}

		{% if committee.LIBRARIAN %}
			<dt class="col-sm-3">Librarian</dt>
			<dd class="col-sm-9">
				{% for committee_member in committee.LIBRARIAN %}
					{{ committee_member.member }}<br />
				{% endfor %}
			</dd>
		{% endif %}

		{% if committee.FRESHERREP %}
			<dt class="col-sm-3">Fresher Rep</dt>
			<dd class="col-sm-9">
				{% for committee_member in committee.FRESHERREP %}
					{{ committee_member.member }}<br />
				{% endfor %}
			</dd>
		{% endif %}

		{% if committee.OCM %}
			<dt class="col-sm-3">Ordinary Committee Members</dt>
			<dd class="col-sm-9">
				{% for committee_member in committee.OCM %}
					{{ committee_member.member }}<br />
				{% endfor %}
			</dd>
		{% endif %}

		{% if committee.IPP %}
			<dt class="col-sm-3">Immediate Past President</dt>
			<dd class="col-sm-9">
				{% for committee_member in committee.IPP %}
					{{ committee_member.member }}<br />
				{% endfor %}
			</dd>
		{% endif %}
	</dl>

	<p>
		To contact committee, email to <a href="mailto:uwaunigames@gmail.com">uwaunigames@gmail.com</a> (no spam please).
	</p>
{% endblock %}