{% extends "_base.html" %}

{% block content %}
	<h1>Committee</h1>
	<h3>The Current Unigames Committee</h3>
	
	<dl class="row">
		{% if committee.PRESIDENT %}
			<dt class="col-sm-3">President</dt>
			{% for committee_member in committee.PRESIDENT %}
				<dd class="col-sm-9">{{ committee_member.member }}<br /></dd>
			{% endfor %}
		{% endif %}
		
		{% if committee.VICEPRESIDENT %}
			<dt class="col-sm-3">Vice President</dt>
			{% for committee_member in committee.VICEPRESIDENT %}
				<dd class="col-sm-9">{{ committee_member.member }}<br /></dd>
			{% endfor %}
		{% endif %}
		
		{% if committee.TREASURER %}
			<dt class="col-sm-3">Treasurer</dt>
			{% for committee_member in committee.TREASURER %}
				<dd class="col-sm-9">{{ committee_member.member }}<br /></dd>
			{% endfor %}
		{% endif %}
		
		{% if committee.SECRETARY %}
			<dt class="col-sm-3">Secretary</dt>
			{% for committee_member in committee.SECRETARY %}
				<dd class="col-sm-9">{{ committee_member.member }}<br /></dd>
			{% endfor %}
		{% endif %}
		
		{% if committee.LIBRARIAN %}
			<dt class="col-sm-3">Librarian</dt>
			{% for committee_member in committee.LIBRARIAN %}
				<dd class="col-sm-9">{{ committee_member.member }}<br /></dd>
			{% endfor %}
		{% endif %}
		
		{% if committee.FRESHERREP %}
			<dt class="col-sm-3">Fresher Rep</dt>
			{% for committee_member in committee.FRESHERREP %}
				<dd class="col-sm-9">{{ committee_member.member }}<br /></dd>
			{% endfor %}
		{% endif %}
		
		{% if committee.OCM %}
			<dt class="col-sm-3">OCMs</dt>
			{% for committee_member in committee.OCM %}
				<dd class="col-sm-9">{{ committee_member.member }}<br /></dd>
			{% endfor %}
		{% endif %}
		
		{% if committee.IPP %}
			<dt class="col-sm-3">IPP</dt>
			{% for committee_member in committee.IPP %}
				<dd class="col-sm-9">{{ committee_member.member }}<br /></dd>
			{% endfor %}
		{% endif %}
	</dl>
	
	<p>
		To contact committee, email to <a href="mailto:uwaunigames@gmail.com">uwaunigames@gmail.com</a> (no spam please).
	</p>
{% endblock %}