{% extends "_base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}

	<h1>Contact Us</h1>
	<p>
		If you want to keep in touch with the comings and goings of the club, or contact the committee, we have numerous
		ways to do so!
	</p>

	<h2>Discord</h2>
	<p>
		Our Discord server is the fastest way to start chatting about your favourite 
		traditional games with other Unigames members.
		<br />
		All of our events and major announcements are also posted there. 
		It's the best way to keep in the loop!
		<br />
		<a href="https://discord.gg/xE5CWZr" class="btn btn-primary btn-discord">Join our Discord Server!</a>
	</p>


	<h2>Facebook</h2>
	<p>
		Our Facebook group is also available for discussion, recruiting players, and chatting.
		<br />
		All events are also publicised though this group.
		<br />
		<a href="https://www.facebook.com/groups/uwa.unigames/" class="btn btn-primary">Join our Facebook Group!</a>
	</p>


	<h2>Email us</h2>
	<p>
		To contact the Unigames committee with any questions or comments, please email:
		<a href="mailto:uwaunigames@gmail.com">uwaunigames@gmail.com</a> (no spam please.)
	</p>
	
	{% comment "Should we keep this in?" %}
	<h2>The Unigames Mailing List</h2>
	<p>
		Unigames has a mailing list which is used by the committee to communicate important information to the members.
		It is recommended that all members join the list.
		<br />
		To join the mailing list, visit 
		<a href="http://lists.ucc.gu.uwa.edu.au/mailman/listinfo/unigames">
			our online subscription manager
		</a>.
	</p>
	{% endcomment %}


{% endblock %}