{% extends '_base.html' %}

{% block title %}Our Events{% endblock %}

{% block content %}
<h1>Unigames Events</h1>

<h2>Unigames Fresher Welcome</h2>
<p>
    The club welcomes its new members in gamer style, with a session of board games and roleplaying in the Cameron Hall Loft. This event is meant to get new members involved with the club and make them feel at home, so if you're a newbie come along and learn what it's all about! Free pizza for freshers.
</p>

<h2>Annual General Meeting</h2>
<p>
    All members of the club meet to elect a new club committee and discuss and deliberate upon any other important issues that are affecting Unigames. Be there if you're a fresher as it's one of your best ways of making yourself known about the place.
</p>

<h2>Unigames Camp</h2>
<p>
    A themed weekend away involving lots of games and activities. The camp was started in 2013 to commemorate Unigames's 30th birthday. So far themes have included Wizards (2013), Assassins (2014), Bards & Barbarians (2015), Cultists & Clerics (2016), Droids & Druids (2017), Elemental Empires (2018), Fiends & Fae (2019), and Ghost (2020).
</p>

<h2>Cameron Hall Charity Vigil</h2>
<p>
    The annual charity mega-event that's been cohosted by Unigames, UniSFA, UCC and UWAnime for the past few years. Each year we support a different charity, and play games, watch movies, and play games all night in Cameron Hall to raise money. In the past this event has raised several thousand dollars for those in need and we hope its proud tradition will continue.
Date: Middle of second semester, usually the beginning of study break.
</p>

<h2>Game Days</h2>
<p>
    Dust off some of the most bizarre and ancient games in the Unigames arsenal and have a blast! Unigames Games Days are the club's way of getting back to basics - just off-the-cuff tabletop action.
</p>

<h2>One Shots</h2>
<p>
    Usually run on a fortnightly basis, our one shot nights are a chance to try out new systems or enjoy old favourites in a short adventure lasting a few hours.
</p>

<h2>Fresher Campaigns</h2>
<p>
    Experienced gamemasters traditionally run our Official Fresher/First-timer Campaigns for the less experienced gamers. If you're unfamiliar with the conventions of roleplaying, want a nice easy start to club life, or would just like to have a go, get in touch with one of our trusty dungeon keepers, any committee member (esp. the Fresher Rep) should be able to point you in the right direction.
</p>

<h2>The Regular Events</h2>
<p>
    ... the bread and butter of Unigames is our regular roleplaying. Campaigns vary from high fantasy to gritty futuristis settings; hack and slash to subtle political maneuvering; superheroes saving the world to ordinary people just trying to save themselves. new campaigns are starting regularly. Not to mention the daily games of Dominion, Magic the Gathering or whatever else is currently the board/card game rage, going down in the clubroom between lectures (and instead of going to lectures).
</p>

{% endblock %}