{% extends '_base.html' %}

{% block title %}Our Events{% endblock %}

{% block content %}
<h1>Unigames Events</h1>

<h2>Unigames Fresher Welcome</h2>
<p>
    The club welcomes its new members in gamer style, with a session of board games and roleplaying in the Cameron Hall Loft. This event is meant to get new members involved with the club and make them feel at home, so if you're a newbie come along and learn what it's all about! Friends and games will be provided. Pizza is a gold coin donation for any freshers (first-time Unigames members)!
</p>
<p> 
    Date: Sem 1, Week 1 Thursday 4PM
</p>

<h2>Annual General Meeting</h2>
<p>
    All members of the club meet to elect a new club committee and discuss and deliberate upon any other important issues that are affecting Unigames. If you’d like to see what the club has done over the past year, or help guide the club into the new year, or just learn what the club does on a year-to-year basis, this is the place to be. If you’re not sure where it is, come to the clubroom 20 minutes before the AGM.
</p>
<p>
    Date: Sem 1, Week 1 Friday 1PM
</p>

<h2>Boardgame Days</h2>
<p>
    Dust off some of the most bizarre and ancient games in the Unigames arsenal and have a blast! Unigames Games Days are the club's way of getting back to basics - just off-the-cuff tabletop action.
</p>
<p>
    Date: Fortnightly, alternating with One Shots
</p>

<h2>One Shots</h2>
<p>
    Usually run on a fortnightly basis, our one shot nights are a chance to try out new systems or enjoy old favourites in a short adventure lasting a few hours. We provide the GMs, fellow players and resources, you bring yourself!
</p>
<p>
    Date: Fortnightly, alternating with Boardgames
</p>

<h2>Fresher Campaigns</h2>
<p>
    Experienced Gamemasters traditionally run our Official Fresher/First-timer Campaigns for the less experienced gamers. If you're unfamiliar with the conventions of roleplaying, want to meet some new friends, or would just like to have a go, get in touch with one of our trusty Gatekeepers, or any Committee member (esp. the Fresher Rep), who'll be able to point you in the right direction.
    <br />
    You can also find the Fresher Campaign sign up form on both our Facebook & Discord.
</p>

<h2>Cameron Hall Charity Vigil</h2>
<p>
    The annual charity mega-event that's been cohosted by Unigames, UniSFA and UCC for the past few years. Each year we support a different charity, play games, watch movies, and play games all night in Cameron Hall to raise money. In the past this event has raised several thousand dollars for those in need and we hope its proud tradition will continue.
</p>
<p>
    Date: Middle of second semester, usually the beginning of study break
</p>

<h2>Unigames Camp (18+)</h2>
<p>
    A themed weekend away involving lots of games and activities - one shots, board games and card games galore! The camp was started in 2013 to commemorate Unigames's 30th birthday. So far themes have included Wizards (2013), Assassins (2014), Bards & Barbarians (2015), Cultists & Clerics (2016), Droids & Druids (2017), Elemental Empires (2018), Fiends & Fae (2019), Ghost (2020), Humans & Humans (variant) (2021), Ichor & Incantations (2022), Jocks & Jokers (2023), and Kittens & Krakens (2024).
</p>
<p>
    Date: Early in the mid-year semester break
</p>

<h2>Roleplay for Life</h2>
<p>
    So one time a member joked he’d rather roleplay for 24 hours rather than run a relay…
    <br/>
    Our counterpart to Relay for Life, Roleplay for Life is exactly what it sounds like on the tin: play RPGs and attempt to survive the 24 hours. We run a few RPGs that will (attempt to) last the whole 24 hours, in which your monetary donations will have in game effects. We also stream one table on Twitch for the whole 24 hours if you can’t make it in person. All donations go to our Relay for Life team to raise money for the Cancer Council.
</p>
<p>
    Date: Semester 2, before the study break
</p>

<h2>Cameron Hall Quiz Night (18+)</h2>
<p>
    The annual pub-style Quiz Night ran by Unigames, UniSFA and UCC. We hold this event downstairs in the UWA Tavern, and we promise it’ll be a night full of funny nerdy quiz-trivia and... bribes!?
</p>
<p>
    Date: Late Semester 2
</p>

<h2>The Regular Events</h2>
<p>
    ... the bread and butter of Unigames is our regular roleplaying. Campaigns vary from high fantasy to gritty futuristic settings; hack and slash to subtle political maneuvering; superheroes saving the world; magical girls and cute critters to ordinary people just trying to save themselves. New campaigns are starting regularly. Not to mention the daily games of Dominion, Magic the Gathering or whatever else is currently the board/card game rage, going down in the clubroom between lectures (and instead of going to lectures).
</p>

{% endblock %}