{% extends "_base.html" %}

{% block title %}Minutes{% endblock %}

{% block content %}
	<h1>Unigames Meeting Minutes</h1>
	
	<p>Minutes of all Unigames Committee Meetings and General Meetings are posted online.</p>
	<p>Minutes of meetings from around 2019 - Present are available on this Website by searching the <a href="{% url "blog:all_posts" %}">news archive</a>.</p>
	<p>Minutes of meetings prior to that point can <em>maybe</em> be found by rummaging around on the old archive, either <a href="https://unigames.ucc.asn.au/opdocs/minutes/">here</a> or <a href="https://unigames.ucc.asn.au/opdocs/archive/">here</a>.</p>
{% endblock %}