{% extends "_base.html" %}

{% block title %}Regulations{% endblock %}

{% block content %}

	<h1>Unigames Regulations<br></h1>
    <p>This is a list of the current regulations that have been made by the Unigames committee.</p>
    <h2>Current Regulations</h2>

    <ol class="regulations">
        <h3>Regulations about Committee Operations</h3>
        <p></p>
        <li>
            The Regulations of Unigames must be ratified by the Committee within the first two weeks of their term.
        </li>
        <li>
            The Committee may make decisions on a consensus basis. That is, a formal vote is not required if there are no objections to a decision.
        </li>
        <li>
            For any vote in a committee meeting to be valid, the vote must achieve a number of yes and no votes at least equal to quorum. That is, abstentions shall not be counted towards the quorum of a vote.
        </li>
        <li>
            Personal or identifying information collected by Unigames must be handled responsibly and securely.
        </li>
        <ol class="c">
            <li>
                No Committee member may use or store the personal or identifying information collected by Unigames except where appropriate or required for club operations.
            </li>
            <li>
                Personal or identifying information may not be shared with any other person or entity unless it is required by law, the constitution, or deemed necessary by a two thirds majority vote of the Committee.
            </li>
            <ol class="d">
                <li>
                    Any person or entity given access to personal or identifying information by the Committee and not required by the law or the Constitution shall be subject to these same regulations.
                </li>
            </ol>
            <li>
                Phone numbers collected from 2021-02-19 shall not be kept for longer than 13 months, except when required by law or the Constitution.
            </li>
            <ol class="d">
                <li>
                    Any person may have their information redacted from Unigames records predating 2021-02-19 by submitting a written request to the Committee, unless the club is required by law or the Constitution to keep the information.
                </li>
            </ol>
        </ol>
        <p></p>
        <li>
            The four keys to the clubroom door shall be distributed as follows: One copy shall be kept by the President, one copy shall be kept by the Vice President, and one copy shall be stored in the combination key box mounted on the door, door, and one copy shall remain in the combination key box in the filing cabinet.
        </li>
        <ol class="c">
            <li>
                The President and Vice President may transfer custody of their key to another member of committee when appropriate.
            </li>
            <ol class="d">
                <li>
                    Any change in custody of this key must be recorded in writing.
                </li>
            </ol>
            <li>
                In the event that any of the above keys are misplaced, it shall be the responsibility of that key's custodian to replace the respective lock.
            </li>
        </ol>
        <p></p>
        <li>
            The three keys to each of the padlocks on the wall box and lock box shall be distributed as follows: One copy of each key shall be kept by the President and Treasurer each, and one copy of each key shall remain in the combination key box in the filing cabinet.
        </li>
        <ol class="c">
            <li>
                In the event that any of the above keys are misplaced, it shall be the responsibility of that key's custodian to replace the respective lock(s).
            </li>
        </ol>
        <p></p>
        <li>
            The Treasurer, or a Committee Member acting on their instruction, may spend up to $600 on consumables (such as food, stationary, or cleaning products) without consulting the Committee. These purchases may still be subject to review by the Committee.
        </li>
        <li>
            The Treasurer, or a Committee Member acting on their instruction, may spend up to $400 on Magic: the Gathering products without consulting the Committee. These purchases may still be subject to review by the Committee.
        </li>
        <li>
            During or immediately after a food run, the Treasurer, or the individual who owns the car being driven to facilitate the food run, may claim a consumable for themselves as payment in lieu of 'petrol money'.
        </li>
        <ol class="c">
            <li>
                This consumable shall not be worth more than $3.
            </li>
        </ol>
        <p></p>
        <li>
            The Treasurer will add funds to the club's Uniprint account when it has less than $10.
        </li>
        <li>
            Unigames will cover the cost of a one-day pass to SwanCon so that the Librarian or their delegate may research and trial resources for the club.
        </li>
        <li>
            Unigames shall be subject to the [ICON Regulations v.2018-08-07]
        </li>

        <p></p>
        <h3>Roles</h3>
        <p></p>
        <li>
            The Committee shall assess the application by any member for a role as defined in the Regulations in a fair and equitable manner.
        </li>
        <ol class="c">
            <li>
                Applicants shall be assessed on their ability to adequately fulfill the duties and powers defined in the role for which they are applying.
            </li>
            <li>
                Unsuccessful applicants shall receive feedback on their application upon request.
            </li>
            <li>
                When assessing applications for a role, the Committee must additionally consider:
            </li>
            <ol class="d">
                <li>
                    Whether the duties and powers of the role are already being fulfilled;
                </li>
                <li>
                    Any extraordinary circumstances which require limiting the number of members with additional powers; and,
                </li>
                <li>
                    The security and safety of the Club, its Members, its assets, and its documents.
                </li>
            </ol>
        </ol>
        <li>
            The Committee may appoint consenting members to the role of Gatekeeper. Gatekeepers shall have the following duties and powers, in addition to those elsewhere in the Regulations:
        </li>
        <ol class="c">
            <li>
                To uphold and enforce the rules and regulations of Unigames;
            </li>
            <li>
                To act in good faith and for the benefit of the Unigames;
            </li>
            <li>
                To supervise, and maintain the clubroom;
            </li>
            <li>
                To ensure the security of the clubroom and Unigames' assets;
            </li>
            <li>
                To facilitate member sign ups;
            </li>
            <li>
                To facilitate the use of the library;
            </li>
            <li>
                To facilitate monetary transactions;
            </li>
            <li>
                To attend Busy Bees, or send notice and apologies when unavailable;
            </li>
            <li>
                To act in a manner that is welcoming and inclusive;
            </li>
            <li>
                To provide assistance to persons interacting with the club; and,
            </li>
            <li>
                To notify the Committee of any misconduct and take disciplinary action where appropriate and proportional, up to and including:
            </li>
            <ol class="d">
                <li>
                    Issuing a Formal Warning;
                </li>
                <li>
                    Restricting access to some or all of Unigames' physical spaces until a time no later than the next Committee Meeting;
                </li>
                <li>
                    Restricting access to some or all of Unigames' digital spaces until a time no later than the next Committee Meeting;
                </li>
                <li>
                    Restricting access to Unigames' library items until a time no later than the next Committee Meeting.
                </li>
            </ol>
        </ol>
        <li>
            The Committee may appoint consenting members to the role of Commissioner. Commissioners shall have the following duties and powers, in addition to those elsewhere in the Regulations:
        </li>
        <ol class=c>
            <li>
                To act in good faith and for the benefit of Unigames;
            </li>
            <li>
                To uphold and enforce the rules and regulations of Unigames;
            </li>
            <li>
                To supervise and facilitate events assigned to the role;
            </li>
            <li>
                To ensure the security of the clubroom and Unigames' assets;
            </li>
            <li>
                To act in a manner that is welcoming and inclusive;
            </li>
            <li>
                To provide assistance to persons interacting with the ongoing event; and,
            </li>
            <li>
                To notify the Committee of any misconduct and take disciplinary action where appropriate and proportional, up to and including:
            </li>
            <ol class="d">
                <li>
                    Issuing a Formal Warning;
                </li>
                <li>
                    Restricting access to some or all of the ongoing event to which the role is assigned, until a time no later than the next Committee Meeting;
                </li>
                <li>
                    In-event penalties, such as the deduction of points.
                </li>
            </ol>
            <li>
                In cases where a participant's conduct goes directly against the Unigames code of conduct, the incident will be directly referred to Unigames Committee
            </li>
        </ol>
        <li>
            The Committee may appoint members to the role of Webkeeper. Webkeepers shall have the following duties and powers, in addition to those elsewhere in the Regulations:
        </li>
        <ol class="c">
            <li>
                To act in good faith and for the benefit of Unigames;
            </li>
            <li>
                To assist in the development and maintenance of Unigames' information services.
            </li>
            <li>
                To ensure that the Committee may at their pleasure gain access to and control of any club information system.
            </li>
        </ol>

        <p></p>
        <h3>Clubroom Operations</h3>
        <p></p>
        <li>
            The following items may only be accessed by Gatekeepers:
        </li>
        <ol class="c">
            <li>
                Clubroom and cabinet keys;
            </li>
            <li>
                Money boxes (table and wall);
            </li>
            <li>
                Finance Tracker; and,
            </li>
            <li>
                Items stored within locked cabinets.
            </li>
        </ol>
        <p></p>
        <li>
            The key to the room may not be carried on persons for extended periods of time prior to 5PM. It should be extracted from the lockbox only for the immediate purpose of opening something, and returned immediately after this. After 5PM and until 8AM the following day it is permissible for a gatekeeper to carry the keys to the clubroom on their person provided they remain within the upper floor of Cameron Hall or Loft. The keys must be returned to the lockbox by the time that the last gatekeeper leaves Cameron Hall.
        </li>
        <li>
            No more than five $5 notes should be left in the table money box at any one time.
        </li>
        <ol class="c">
            <li>
                Any excess $5 notes and all notes of a higher denomination must be deposited into the wall money box and recorded in the finance tracking book.
            </li>
        </ol>
        <p></p>
        <li>
            The clubroom may be left unsupervised by a gatekeeper in some circumstances.
        </li>
        <ol class="c">
            <li>
                This can only be done if all three of the following conditions are true:
            </li>
            <ol class="d">
                <li>
                    There are other people in the club room, who have been instructed to not touch the money box and have been informed of the situation.
                </li>
                <li>
                    The money box is visible to the webcams.
                </li>
                <li>
                    The gatekeeper in question is going to the bathroom, searching Cameron Hall for another gatekeeper, or taking some other task that will take no more than two minutes.
                </li>
            </ol>
            <li>
                In all other scenarios, all people should be removed from the clubroom and it should be locked.
            </li>
        </ol>
        <p></p>
        <li>
            After emptying a bin or recycling bin in Cameron Hall, a club member may be awarded a free consumable worth up to $1 from the club.
        </li>
        <ol class="c">
            <li>
                The responsible gatekeeper is neither obligated to award a consumable (for instance, in the case of the bin being emptied when it was already nearly empty,) nor barred from awarding themselves or other gatekeepers consumables - though in such a case they still have to have actually emptied the bin.
            </li>
            <li>
                Members shall not be eligible to claim a free consumable if they have already received a reward for the same instance of that action from another club.
            </li>
        </ol>
        <p></p>
        <li>
            After vacuuming the clubroom, a club member may be awarded a free consumable worth up to $1 from the club.
        </li>
        <ol class="c">
            <li>
                The responsible gatekeeper is neither obligated to award a consumable (for instance, in the case of the room being vacuumed when it was already clean,) nor barred from awarding themselves or other gatekeepers consumables - though in such a case they still have to have actually vacuumed the room.
            </li>
            <li>
                Note: the most easily accessible vacuum cleaners can be borrowed from either UCC or UniSFA
            </li>
        </ol>
        <p></p>

        <h3>Library</h3>
        <p></p>
        <li>
            Borrowing Regulations:
        </li>
        <ol class="c">
            <li>
                Members of Unigames can borrow it's resources for use, either "short-term" or "long-term".
            </li>
            <li>
                Members of Unigames and individuals representing other groups or societies e.g. UWA Clubs may borrow it's resources for use on a "large scale"
            </li>
            <li>
                Short-Term Borrowing:
            </li>
            <ol class="d">
                <li>
                    Some resources of the club can be borrowed by members of the club for periods of less than 24 hours and within Cameron Hall.
                </li>
                <ul class="regulations">
                    <li>
                        The borrower's student card, or another form of valid ID considered equivalent by the gatekeeper, is to be held in the compartment on the side of the notes box, in place of the borrowed resource.
                    </li>
                    <li>
                        Upon return of the resources that were borrowed, the identification is then returned to its owner.
                    </li>
                    <li>
                        Attached to the identification should be documentation of which resource(s) that member has borrowed.
                    </li>
                    <li>
                        A gatekeeper may choose to limit the number of resources taken out by an individual member.
                    </li>
                    <li>
                        When closing the room, a gatekeeper must check that no items have been short-term borrowed, and must make a reasonable attempt to retrieve any currently short-term borrowed items.
                    </li>
                </ul>
            </ol>
            <li>
                Long-Term Borrowing:
            </li>
            <ol class="d">
                <li>
                    Some resources can be borrowed by members of the club for periods of up to two weeks.
                </li>
                <ul class="regulations">
                    <li>
                        The club member's details, along with the details of the resources borrowed, must be documented in the borrowing book.
                    </li>
                    <li>
                        The borrowing must be authorised by a gatekeeper.
                    </li>
                    <li>
                        A gatekeeper may choose to limit the number of resources taken out by an individual member.
                    </li>
                </ul>
            </ol>
            <li>
                Resources
            </li>
            <ol class="d">
                <li>
                    Unigames has many different types of resources, each with their own rules and restrictions on how they can be borrowed and for how long. These are listed below.
                </li>
                <li>
                    Board Games:
                </li>
                <ul class="regulations">
                    <li>
                        Board games can be borrowed either short-term or long-term, unless other restrictions apply.
                    </li>
                </ul>
                <li>
                    RPG books:
                </li>
                <ul class="regulations">
                    <li>
                        RPG books can be borrowed either short-term or long-term, unless other restrictions apply.
                    </li>
                </ul>
                <li>
                    Dice:
                </li>
                <ul class="regulations">
                    <li>
                        Dice may only be borrowed short term, and cannot leave Cameron Hall.
                    </li>
                    <li>
                        In the case that Cameron Hall is both too busy and unsuitable to hold an intended game or event, they may be long-term borrowed provided that they don't leave the UWA campus and for no more than 24 hours.
                    </li>
                </ul>
                <li>
                    Battle Mats:
                </li>
                <ul class="regulations">
                    <li>
                        Battle mats may only be borrowed short term, and cannot leave Cameron Hall.
                    </li>
                    <li>
                        In the case that Cameron Hall is both too busy and unsuitable to hold an intended game or event, they may be long-term borrowed provided that they don't leave the UWA campus and for no more than 24 hours.
                    </li>
                    <ul>
                        <li>
                            When doing this, both short-term and long-term borrowing procedures must be followed. (i.e. Details must be documented in the borrowing book and a form of valid ID must be left.)
                        </li>
                    </ul>
                    <li>
                        Each battle mat has a number written on its corners, or has a name associated with it. Whenever a battle mat is borrowed, that number or name must be documented.
                    </li>
                </ul>
                <li>
                    Paints:
                </li>
                <ul class="regulations">
                    <li>
                        Paints may only be borrowed short term, and cannot leave Cameron Hall.
                    </li>
                    <li>
                        The total number of individual paints taken from the room must be recorded and verified upon return.
                    </li>
                </ul>
            </ol>
            <li>
                Large-Scale Borrowing:
            </li>
            <ol class="d">
                <li>
                    Some resources can be reserved and borrowed by members of the club or relevant organisations for a period of up to two weeks.
                </li>
                <ul class="regulations">
                    <li>
                        The borrower must submit a Large Scale Borrowing form including the borrower's details and details of the requested resources.
                    </li>
                    <li>
                        The borrowing form must be approved by the Librarian or another member of committee at the Librarian's request.
                    </li>
                    <li>
                        Upon approval by the Librarian the requested resources will be reserved and may not be borrowed out less than two weeks before the requested borrow date.
                    </li>
                    <li>
                        The Librarian must set a due date up to a maximum of two weeks from the requested borrow date based on the amount and popularity of the resources borrowed.
                    </li>
                </ul>
            </ol>
            <li>
                High Demand Items:
            </li>
            <ol class="d">
                <li>
                    Some library items chosen by the librarian may be marked as "high demand".
                </li>
                <li>
                    Items marked as "high demand" can only be long-term borrowed overnight until the next business day, in an attempt to increase availability to members.
                </li>
                <li>
                    These items can still be short-term borrowed within Cameron Hall.
                </li>
            </ol>
            <li>
                Borrowing for events:
            </li>
            <ol class="d">
                <li>
                    When required for an event, Committee members can borrow resources for that event using a separate procedure.
                </li>
                <li>
                    When doing this, all resources borrowed must be written on the Unigames whiteboard.
                </li>
                <li>
                    At the end of that event, the list of resources on the whiteboard should be used to check that all resources have been returned. The list should then be erased.
                </li>
            </ol>
            <li>
                Strike System:
            </li>
            <ol class="d">
                <li>
                    If the Librarian notices that a resource or resources is overdue, was returned late, or was not returned in a respectable condition, the borrower gets a "strike".
                </li>
                <ul class="regulations">
                    <li>
                        The Librarian will attempt to contact the member in question, explaining the consequences of the "strike", along with the date the resource(s) needs to be returned by.
                    </li>
                    <li>
                        If the resource(s) has not been returned within two days after this contact, the borrower will receive another strike at each following Committee meeting until the resource(s) is returned.
                    </li>
                    <li>
                        Upon reaching three "strikes", the member in question will be disallowed from long-term borrowing until the start of the next UWA semester
                    </li>
                    <li>
                        Each strike will last for a period until the start of the next UWA semester.
                    </li>
                    <li>
                        The Librarian may retain a number of strikes on a member between semesters with committee approval, in which case the member in question will be informed.
                    </li>
                </ul>
            </ol>
        </ol>
        <p></p>
        <li>
            Splat Rule:
        </li>
        <ol class="c">
            <li>
                Unigames will cover up to half the cost of any game resources (such as 'splat' books or board games) when a member or group of members pledges the other half, subject to a committee vote.
            </li>
            <ol class="d">
                <li>
                    The purchased resources will belong to Unigames.
                </li>
                <li>
                    This regulation is intended to supply things such as non-core RPG texts for club members to use.
                </li>
            </ol>
        </ol>
        <p></p>
        <li>
            If a person donates a resource or pledges money (for example, via the 'Splat Rule') towards the purchase of a item, then it shall be recorded as such inside the resource.
        </li>
    </ol>

    <span>Last updated 4th February 2024</span>
	
{% endblock %}