{% extends override_base|default:"email/email_base.html" %}
{% comment %}
	The base email template is "email_base.html".
	We override it with "email_base.txt" for the plaintext version of emails.
{% endcomment %}

{% comment %}
	Both of these should be the same.
	One will be in the "head" of the email,
	and the other will be the main heading of the email.
{% endcomment %}
{% block title %}Reset Password{% endblock %}
{% block email_title %}Reset Password{% endblock %}

{% comment %}
	The preheader is a short description of the contents of the email,
	displayed as a summary in some email programs. 
{% endcomment %}
{% block preheader %}Unigames Password Reset{% endblock %}

{% comment %}
	The main content of the email.
	The very first element of this will the "email_title" above.
{% endcomment %}
{% block content %}
	<p>
		Hello from Unigames!
	</p>
	<p>
		You are receiving this email because a password reset request was made for {{ username|default:"your account" }} on the Unigames website.
	</p>
	<p>
		If you didn't initiate this password reset, you can safely ignore this email.
	</p>
	<p>
		If you wish to proceed with a password reset, click the button below to reset your password.
	</p>
	<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
		<tbody>
			<tr>
				<td align="left">
					<table role="presentation" border="0" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td>
									<a href="{{ password_reset_url }}" target="_blank">
										Reset Password
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	<p>
		Alternatively, please use the following link: {{ password_reset_url }}
	</p>
	<p>
		Regards, <br/>
		Unigames
	</p>
{% endblock %}

{% comment %}
	Used to override the footer at the bottom of the email.
{% endcomment %}
{% block unsubscribe_footer %}
{% endblock %}
