/* Navbar Styles
-------------------------------------------------- */

@font-face {
    font-family: newRocker;
    src: url(NewRocker-Regular.otf);
}

.unigames-brand {
    font-family: newRocker;
    margin-right: -30px;
}

.unigames-big-brand {
    font-family: newRocker;
    font-size: 4.1rem;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 10px;
    paint-order: stroke fill;
}

.unigames-big-logo {
    margin-bottom: -2.4em;
}

.btn-discord {
    --bs-btn-bg: #5865F2;
    --bs-btn-border-color: #5865F2;
    --bs-btn-hover-bg: #454fc1;
    --bs-btn-hover-border-color: #454fc1;
    --bs-btn-active-bg: #3e47af;
    --bs-btn-active-border-color: #3e47af;
}

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}*/


.pricing-header {
  max-width: 700px;
}

.footer {
    padding: 5px;
    background-color: rgba(var(--bs-body-color-rgb), 0.03);
}

.main-container {
    min-height: 100vh;
}

.preview-data-table > tbody > tr > th {
    text-align: right;
}

.preview-data-table > tbody > tr > td > ul {
    list-style-type: "- ";
    padding-left: 1em;
}

.borrow-form-img {
    object-fit: contain;
    max-height: 110px;
    max-width: 150px;
}

.list-card-image {
    object-fit: scale-down;
    object-position: left;
    max-height: 220px;
    max-width: 220px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.card-mid-header {
    border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

td:has(> a.clickable-cell) {
    padding: 0 0 !important;
}

.clickable-cell {
    display: block;
    padding: 0.5rem 0.5rem !important;
}

.theme-label {
    text-transform: capitalize;
}

a.codelink {
    color: var(--bs-code-color);
    text-decoration-color: var(--bs-code-color);
    text-underline-offset: 0.375em !important;
}

a.codelink:hover {
    color: var(--bs-body-color);
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-selection {
    background-color: transparent !important;
    border: 1px solid #495057;
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-selection--single {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dee2e6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered {
	color: #dee2e6 !important;
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
	color: #dee2e6 !important;
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
	border: 1px solid var(--bs-gray-600);
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered .select2-selection__placeholder {
	color: #dee2e6 !important;
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field {
    background-color: transparent !important;
    color: #dee2e6 !important;
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-dropdown {
    color: #dee2e6 !important;
    border: 1px solid #495057 !important;
	background-color: var(--bs-body-bg);
}

html[data-bs-theme="dark"] .select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option[role=group] .select2-results__group {
	color: var(--bs-secondary-color)!important;
}