{% extends "_base.html" %}

{% load markdown_extras %}

{% block content %}
	<div class="card mb-3">
		<h1 class="card-header">{{ post.title }}</h1>
		{% if not post.is_published %}
			<h6 class="card-header text-bg-danger">NOT PUBLISHED - {% include "blog/snippets/blog_post_timestamp_snippet.html" %}</h6>
		{% endif %}
		<h6 class="card-header">
			by {{ post.author }}
			<span class="float-end">{% include "blog/snippets/blog_post_timestamp_snippet.html" %}</span>
		</h6>
		<div class="card-body">
			{{ post.body|render_markdown }}
		</div>
	</div>
{% endblock %}