{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
	<title>{% block title %}DjangoX{% endblock title %}</title>
	<meta name="description" content="A framework for launching new Django projects quickly.">
	<meta name="author" content="">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
	
	{% block css %}
		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
			  rel="stylesheet" 
			  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
			  crossorigin="anonymous">
		<link rel="stylesheet" 
			  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
		
		<link rel="stylesheet" href="{% static 'css/base.css' %}">
	{% endblock %}
	{% block form_media %}
	{% endblock %}
</head>

<body>
<div class="main-container mb-3">
	<header>
		<nav class="navbar navbar-expand-lg mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" href="{% url 'home' %}">
					<span class="unigames-brand">Unigames</span>
					<img src="{% static "images/unigames-logo-2023.svg" %}" alt="Unigames Logo" width="69" height="45"
						 loading="lazy">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
								About Us
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="{% url "about" %}">The Unigames FAQ</a></li>
								<li><a class="dropdown-item" href="{% url "events" %}">Events</a></li>
								<li><a class="dropdown-item" href="{% url "rpgs" %}">What are RPGs?</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="{% url "committee" %}">Our Committee</a></li>
								<li><a class="dropdown-item" href="{% url "life_members" %}">Life Members</a></li>
								<li><a class="dropdown-item" href="{% url "contact" %}">Contact Us</a></li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url "blog:all_posts" %}">News</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'library:item_list' %}">Our Library</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
								Operations
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">Constitution</a></li>
								<li><a class="dropdown-item" href="#">Regulations</a></li>
								<li><a class="dropdown-item" href="#">Minutes</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="#">API</a></li>
								<li><a class="dropdown-item" href="#">Archives</a></li>
								<li><a class="dropdown-item" href="#">Webcams</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						{% if user.is_authenticated and user.member.is_gatekeeper %}
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
									Actions
								</a>
								<ul class="dropdown-menu dropdown-menu-end">
									{% if user.member.is_committee %}
										<li><h6 class="dropdown-header">Committee Stuff</h6></li>
										<li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin Site</a></li>
										<li><a class="dropdown-item" href="{% url "control_panel:list" %}">Control Panel</a></li>
										<li><hr class="dropdown-divider"></li>
									{% endif %}
									<li><h6 class="dropdown-header">Library</h6></li>
									<li><a class="dropdown-item" href="{% url 'library:dashboard' %}">Library Dashboard</a></li>
									<li><hr class="dropdown-divider"></li>
									<li><h6 class="dropdown-header">Members</h6></li>
									<li><a class="dropdown-item" href="{% url 'members:signup_hub' %}">New Membership</a></li>
									<li><a class="dropdown-item" href="{% url 'members:list' %}">Member List</a></li>
								</ul>
							</li>
						{% endif %}
						<li class="nav-item dropdown">
							{% if user.is_authenticated %}
								<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
									{{ user.member.short_name }}
								</a>
								<ul class="dropdown-menu dropdown-menu-end">
									<li><h6 class="dropdown-header">Logged in as {{ user.member.short_name }}</h6></li>
									<li><a class="dropdown-item" href="{% url 'members:my_profile' %}">My Profile</a></li>
									<li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
								</ul>
							{% else %}
								<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">
									Account
								</a>
								<ul class="dropdown-menu dropdown-menu-end">
									<li><h6 class="dropdown-header">You are not currently logged in.</h6></li>
									<li><a class="dropdown-item" href="{% url 'account_login' %}">Log In</a></li>
								</ul>
							{% endif %}
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		{% if messages %}
			{% for message in messages %}
				<div class="alert {% if message.tags %}{{ message.level_tag }} {{ message.extra_tags }}{% endif %}">{{ message|linebreaksbr }}</div>
			{% endfor %}
		{% endif %}
		{% block content %}
			<p>Default content...</p>
		{% endblock content %}
	</div>
</div>

<footer class="footer">
	<div class="container">
		<span class="text-muted">Unigames is an affiliated club of the UWA Student Guild.</span>
	</div>
</footer>

{% block javascript %}
	<!-- Bootstrap JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
			integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
			crossorigin="anonymous"></script>
	
	<!-- Project JS -->
	<script src="{% static 'js/base.js' %}"></script>

{% endblock javascript %}

{% block post_js_form_media %}
	{% comment %}
		This is a block solely for form media that must be loaded after the other Java
	{% endcomment %}
{% endblock %}

</body>

</html>