{% block post_js_form_media %}
	{% load static %}
	<script src="{% static "js/membership_payment_method.js" %}"></script>
{% endblock %}

<legend>Now please pass the device back.</legend>
<div class="card mb-3">
	<div class="card-header text-bg-warning">
		Gatekeeper!
	</div>
	<div class="card-body text-center">
		<p class="card-text ">
			Based on the information above, this member should be paying
		</p>
		<p>
			<span class="h1 align-middle my-1">
				<mark>{{ preview_data.is_guild|yesno:"$5,$7" }}</mark>
			</span>
		</p>
		<p>
			for their membership.
		</p>
		<p class="card-text">
			How is the member paying?
		</p>
{% comment %}
	This card is closed in "membership_form_gatekeeper_reminder_2.html"
{% endcomment %}