{% comment %}
	This closes the card in "membership_form_gatekeeper_reminder.html"
{% endcomment %}

	</div>
</div>
<div id="reference-code-card" class="card mb-3">
	<div class="card-header text-bg-warning">
		Bank Transfer:
	</div>
	<div class="card-body text-center">
		<h4>Unigames Account Details</h4>
		<dl class="row">
			<dt class="col-6 text-end">Account Name:</dt>
			<dd class="col-6 text-start">Unigames UWA</dd>
			<dt class="col-6 text-end">BSB:</dt>
			<dd class="col-6 text-start">066-103</dd>
			<dt class="col-6 text-end">Account Number:</dt>
			<dd class="col-6 text-start">1051-8815</dd>
		</dl>
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-12 col-lg-2"></div>
			<div class="col-12 col-lg-8">

		{% comment %}
			This card is closed in "membership_form_gatekeeper_reminder_3.html"
		{% endcomment %}
